{% extends "base.html" %} {% block title %}SLM Labs{% endblock %} {% block meta
%}

<meta
  name="description"
  content="Sergio Martinez is a medical device consultant specializing in program management, regulatory compliance, and biomedical engineering."
/>
<meta
  name="keywords"
  content="medical device consultant, biomedical engineering, program management, regulatory compliance, medical devices, systems engineering, robotics consulting"
/>
<meta name="author" content="Sergio Martinez" />

<!-- Open Graph Tags for Social Sharing -->
<meta
  property="og:title"
  content="Sergio Martinez - Medical Device Consultant"
/>
<meta
  property="og:description"
  content="With over a decade of experience in medical devices, I offer consulting services in program management, regulatory compliance, and biomedical engineering."
/>
<meta
  property="og:image"
  content="{{ url_for('static', filename='images/monarch_image.png') }}"
/>
<meta property="og:url" content="https://www.slmlabs.com" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta
  name="twitter:title"
  content="Sergio Martinez - Medical Device Consultant"
/>
<meta
  name="twitter:description"
  content="Medical device consultant with expertise in program management, regulatory compliance, and biomedical engineering."
/>
<meta
  name="twitter:image"
  content="{{ url_for('static', filename='images/monarch_image.png') }}"
/>
{% endblock %} {% block stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
{% endblock %} {% block content %}
<section id="intro">
  <div class="intro-content">
    <div class="intro-text">
      <h1>Hi, I'm Sergio</h1>
      <p>
        With over a decade of experience in the medical device industry, I bring
        innovative solutions that bridge the gap between novel technology and
        medical applications. My expertise lies in medical device product
        development, quality systems, regulatory compliance, and program
        management. I offer consulting services that drive the development and
        success of groundbreaking medical technologies.
      </p>
      <p>
        Let’s work together to elevate your medical device projects to the next
        level.
      </p>
    </div>
    <div class="intro-image">
      <img
        src="/static/images/monarch_image.png"
        alt="Sergio L. Martinez Jr."
      />
    </div>
  </div>
</section>

<section id="expertise">
  <h2>My Expertise</h2>
  <ul>
    <li>
      <h3>Program Management</h3>
      <p>
        Leading cross-functional teams to deliver complex projects on time, from
        concept to launch. Whether it's defining the project management process,
        developing project plans, or managing resources, I ensure successful
        outcomes.
      </p>
    </li>
    <li>
      <h3>Process Optimization</h3>
      <p>
        Improving efficiency in R&D, manufacturing, and regulatory workflows. I
        use data-driven insights to identify bottlenecks and implement solutions
        that drive operational excellence.
      </p>
    </li>
    <li>
      <h3>Regulatory Compliance</h3>
      <p>
        Expertise with FDA 510(k) submissions, ISO, and quality management
        systems. I help companies navigate the regulatory landscape to ensure
        the safety and efficacy of their products.
      </p>
    </li>
  </ul>
</section>

<section id="services">
  <h2>How I Can Help</h2>
  <ul>
    <li>
      <strong
        >Simplifying your complex medical device product development</strong
      >: Expertise in developing innovative and cutting-edge medical
      technologies using a proven systems engineering approach.
    </li>
    <li>
      <strong>Cross-functional team leadership and program management</strong>:
      Driving successful outcomes through collaborative project management using
      agile, waterfall, and hybrid methodologies.
    </li>
    <li>
      <strong>Quality systems (QMS) and regulatory compliance consulting</strong
      >: Ensuring adherence to industry standards and regulatory requirements
      while meeting your product needs.
    </li>
    <li>
      <strong>Strategic consulting for startups and scaling companies</strong>:
      Tailored solutions for growing and scaling operations effectively and
      efficiently.
    </li>
  </ul>
</section>

<section id="cta">
  <h2>Let’s Work Together</h2>
  <p>
    Looking for an experienced consultant to help you succeed in the medical
    device industry? <a href="/contact">Contact me today</a>.
  </p>
</section>

{% endblock %}
